@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

P,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .main-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-nav__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  width: 145px;
}

@media screen and (min-width: 768px) {
  .main-nav__logo {
    margin-right: 88px;
  }
}

.main-nav__sudio {
  color: #212121;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 305px;
  }
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contact-list__link {
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}

.contact-list__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .contact-list__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__icon--icon-envelope {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__icon--icon-envelope {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__icon--icon-smartphone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__icon--icon-smartphone {
    width: 10px;
    height: 16px;
  }
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.menu-button {
  background-color: transparent;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.menu-button .menu-button__close {
  display: none;
}

.menu-button .js-open-menu .menu-button__close {
  display: block;
}

.menu-button .js-open-menu .menu-button__menu {
  display: none;
}

.menu-button__close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-button__menu {
  width: 24px;
  height: 16px;
}

.menu-toggle {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 0.67;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__item + .mobile-menu__item {
  margin-top: 30px;
}

.mobile-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__mail:hover, .mobile-menu__mail:focus {
  color: #2196f3;
}

.mobile-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__tel:hover, .mobile-menu__tel:focus {
  color: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 43px;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu-container .is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contact-list {
  margin-top: 302px;
  text-align: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contact-list__item + .contact-list__item {
  margin-top: 32px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.social-list__item::after {
  content: "";
  display: block;
  color: #212121;
  width: 22px;
  height: 0px;
}

.social-list__item + .social-list__item {
  margin-left: 20px;
}

.social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  background-color: rgba(47, 48, 58, 0.4);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/img.hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img.hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}

@media screen and (min-width: 480px) {
  .hero {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-color: rgba(47, 48, 58, 0.4);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/img.hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img.hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 360px;
  margin: 0 auto 30px auto;
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 30px auto;
    height: 120px;
    margin-top: 0;
  }
}

.hero__btn {
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 130px;
  padding: 10px 32px;
  border: transparent;
  height: 50px;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.about__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .about__title {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about__item {
    width: calc(100% / 2 - 15px);
  }
  .about__item:nth-last-child(2n) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .about__item:nth-child(3) {
    margin-bottom: 0;
  }
}

.about__item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  height: 120px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .about__item {
    width: calc(100% / 4 - 30px);
  }
  .about__item:not(:last-child) {
    margin-right: 30px;
  }
  .about__item:nth-last-child(2n) {
    margin-bottom: 0;
  }
}

.icon-antenna::before {
  background-image: url(../img/antenna.svg);
}

.icon-clock::before {
  background-image: url(../img/clock.svg);
}

.icon-diagram::before {
  background-image: url(../img/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../img/astronaut.svg);
}

.about__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__list {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__name {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work__tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__title {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 0;
  margin-bottom: 50px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-family: inherit;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 0;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 622px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    height: 536px;
    width: 354px;
    width: calc(100% / 2 - 30px);
  }
  .team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .team__item:nth-child(3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100% / 4 - 30px);
    width: 270px;
    height: 428px;
  }
  .team__item:nth-child(odd) {
    margin: 0;
  }
  .team__item + .team__item {
    margin-left: 30px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.team__img {
  margin-bottom: 30px;
  height: 460px;
}

@media screen and (min-width: 768px) {
  .team__img {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__img {
    height: 260px;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.clients {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -10px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.clients__item {
  width: calc((100% - 4 * 5px) / 2);
  margin: 5px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 170px;
    height: 92px;
    width: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }
  .clients__item:nth-child(6n) {
    margin-right: 0;
  }
  .clients__item + .clients__item {
    margin-left: 30px;
  }
}

.clients__link {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 210px;
  }
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-nav__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #2196f3;
  margin-bottom: 20px;
  width: 145px;
  height: 31px;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer-nav__sudio {
  color: #ffffff;
}

.footer-nav__box {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-nav__box {
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-nav__box {
    margin: 0;
    text-align: start;
  }
}

.address {
  font-style: normal;
  margin-top: 0;
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-left: 165px;
    margin-bottom: 0;
  }
}

.address__link {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:focus, .address__link:hover {
  color: #2196f3;
}

.footer-address {
  color: #ffffff99;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover, .footer-address:focus {
  color: #2196f3;
}

.footer-social {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
    text-align: start;
  }
}

.footer-social__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.social-box__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-box__link:hover, .social-box__link:focus {
  background-color: #2196f3;
}

.social-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-box__item + .social-box__item {
  margin-left: 10px;
}

.social-box__icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .email-box {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .email-box {
    text-align: start;
    margin-left: 93px;
  }
}

.email-box__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .email-box__title {
    text-align: start;
  }
}

.subscribe-box__input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .subscribe-box__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-box__input {
    width: 358px;
    margin-right: 10px;
  }
}

.subscribe-box__btn {
  font-family: inherit;
  color: #ffffff;
  background-color: #2196f3;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 29px;
  border-radius: 4px;
  border-color: transparent;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
}

.subscribe-box {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .subscribe-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-box__svg {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 28px;
  top: 13px;
}

.subscribe-box__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-box__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-box__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-box__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: currentColor;
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  color: #2196f3;
}

.modal__icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form__input {
  display: block;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: #2196f3;
}

.form__input--comment {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  height: 120px;
  resize: none;
}

.form__input--comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input--comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input--comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input--comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 5px;
}

.checkbox__link {
  color: #2196f3;
  text-decoration: underline;
}

.submit {
  font-family: inherit;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  margin: 0 auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox__input {
  display: block;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox__label {
  margin-right: 7px;
  border-radius: 1px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  outline: 2px solid #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon {
  width: 16px;
  height: 15px;
}

.checkbox__input:checked + .checkbox__label {
  background-color: #2196f3;
  outline: none;
}

.form__name {
  position: relative;
  display: block;
  margin-bottom: 10px;
  /* margin-top: 12px; */
}

.form__tel {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form__mail {
  position: relative;
  margin-bottom: 10px;
}

.form__comment {
  display: block;
  margin-bottom: 20px;
}

.form {
  display: block;
}

.icon-man {
  position: absolute;
  top: 55%;
  left: 15px;
  width: 12px;
  height: 12px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus-within ~ .icon-man {
  color: #2196f3;
}

.icon-tel {
  position: absolute;
  top: 55%;
  left: 15px;
  width: 12px;
  height: 12px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus-within ~ .icon-tel {
  color: #2196f3;
}

.icon-letter {
  position: absolute;
  top: 55%;
  left: 15px;
  width: 12px;
  height: 12px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus-within ~ .icon-letter {
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */