.about {
  padding-top: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $heading-color;
  margin-bottom: 10px;
}

.about__list {
  display: flex;
}

.about__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
  &::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    height: 120px;
    background-color: #f5f4fa;
  }
}

.icon-antenna::before {
  background-image: url(../img/antenna.svg);
}

.icon-clock::before {
  background-image: url(../img/clock.svg);
}

.icon-diagram::before {
  background-image: url(../img/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../img/astronaut.svg);
}

.about__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-color;
  height: 75px;
  width: 270px;
}
