.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  position: relative;
  display: flex;
  align-items: center;
}

.main-nav__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  width: 145px;
}

.main-nav__sudio {
  color: $heading-color;
}

.nav__list {
  display: flex;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  color: $heading-color;
  transition: color $time;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;
  }
}

.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__link {
  display: flex;
  color: $main-color;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  align-items: center;
  transition: color $time;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav__item {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  & + & {
    margin-left: 50px;
  }
}
