.work {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.work__list {
  display: inline-block;
  display: flex;
}

.work__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work__name {
  margin: 0;
  color: $secondary-color;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work__tech {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__title {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $heading-color;
  padding: 0;
  margin-bottom: 50px;
}
